run = "flask --app app run --debug"
[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "Flask --app app run --debug"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 45520347
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m flask --app app run --debug --host=0.0.0.0"
